<template>
<section class="">
  <div>
      <h1>holas</h1>
    <v-toolbar
      color="blue"
      dark
      tabs
    >
      <v-text-field
        prepend-icon="search"
        append-icon="mic"
        label="Search"
        solo-inverted
        class="mx-3"
        flat
      ></v-text-field>
      <v-tabs
        slot="extension"
        centered
        v-model="tabs"
        slider-color="white"
        color="transparent"
      >
        <v-tab
          v-for="n in 3"
          :key="n"
        >
          Item {{ n }}
        </v-tab>
      </v-tabs>
    </v-toolbar>
    <v-tabs-items v-model="tabs">
      <v-tab-item
        v-for="n in 3"
        :key="n"
      >
        <v-card>
          <v-card-text>
            {{ text }} {{nombre}} {{apellido}}
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </div>
</section>
</template>
<script>
  export default {
    data () {
      return {
        tabs: null,
        text: ' consequat.',
        nombre: 'tonto',
        apellido: 'bruto'
      }
    }
  }
</script>

<style>

</style>
