<template>
<div class="row center-block">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap" id="users">
          <div class="row">
            <div class="box-body no-padding table-responsive">
              <table aria-describedby="user" role="grid" id="users" class="table table-bordered table-striped dataTable">  
                <thead>
                  <tr role="row">
                    <th>N</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="user of users">
                    <!--<ul v-if="users && users">-->
                      <!--<li v-for="user of users">-->
                    <th>{{user.name}}</th>
                    <th>{{user.email}}</th>
                    <th>{{user.phone}}</th>
                    <th>A</th>
                    <p>{{users.body}}</p>
                      <!--</li>-->
                    <!--</ul>-->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      users: [],
      errors: []
    }
  },

  // Fetches posts when the component is created.
  created() {
    axios.get(`https://jsonplaceholder.typicode.com/users`)
    .then(response => {
      // JSON responses are automatically parsed.
      this.users = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })

    // async / await version (created() becomes async created())
    //
    // try {
    //   const response = await axios.get(`http://jsonplaceholder.typicode.com/posts`)
    //   this.posts = response.data
    // } catch (e) {
    //   this.errors.push(e)
    // }
  }
}
</script>

<style>

</style>
