<template>
<div class="row center-block">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap" id="Pruebas">
          <div class="row">
            <div class="box-body no-padding table-responsive">
              <table aria-describedby="Prueba" role="grid" id="Pruebas" class="table table-bordered table-striped dataTable">  
                <thead>
                  <tr role="row">
                    <th>N-</th>
                    <th>Nombre</th>
                    <th>Celular</th>
                    <th>Email</th>
                    <th>Contenido</th>
                    <th>Fecha Creacion</th>
                    <th>Estado</th>
                    <th>Accion</th>
                  </tr>
                </thead>
                <tbody>
                    <tr v-for="Pruebas of Prueba">
                        <th>{{Pruebas.id}}</th>
                        <th>{{Pruebas.full_name}}</th>
                        <th>{{Pruebas.cell_phone}}</th>
                        <th>{{Pruebas.email}}</th>
                        <th>{{Pruebas.content}}</th>
                        <th>{{Pruebas.creation_date}}</th>
                        <th>{{Pruebas.state}}</th>
                        <th><strong><button class="btn btn-danger">DELETE</button></strong></th>
                        <th><button class="btn btn-success">EDIT</button></th>
                        <p>{{Pruebas.body}}</p>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      Prueba: [],
      errors: []
    }
  },

  // Fetches posts when the component is created.
  created() {
    axios.get(`http://192.168.25.128:7001/api/configuration/Prueba`)
    .then(response => {
      // JSON responses are automatically parsed.
      this.Prueba = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })

    // async / await version (created() becomes async created())
    //
    // try {
    //   const response = await axios.get(`http://jsonplaceholder.typicode.com/posts`)
    //   this.posts = response.data
    // } catch (e) {
    //   this.errors.push(e)
    // }
  }
}
</script>

<style>
</style>
