<template>
  <div class="col-sm-8 col-sm-offset-2">
    <form v-on:submit.prevent="agregarTarea">
      <input type="text" placeholder="Ingresa tarea" v-model="tareas.titulo" required>
      <input type="submit" value="Agregar" class="btn btn-primary">
    </form>
    <table class="table">
      <thead>
        <tr>
          <th>Hecho</th>
          <th>Tarea</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="tarea in tareas">
          <td>
            <input type="checkbox" v-model="tarea.hecho">
          </td>
          <td :class={tareaRealizada:tarea.hecho}>
            {{tarea.titulo}}
          </td>
          <td>
            <button v-on:click="eliminarTarea(tarea)" class="btn btn-danger">DELETE</button>
            <button class="btn btn-success">EDIT</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tareas: [
        {
          titulo: 'tarea 1',
          hecho: false
        },
        {
          titulo: 'tarea 2',
          hecho: true
        },
        {
          titulo: 'tarea 3',
          hecho: false
        }
      ]
    }
  },
  methods: {
    eliminarTarea: function(tarea) {
      this.tareas.splice(this.tareas.indexOf(tarea), 1)
      alert('Desea Eliminar tarea')
    },
    agregarTarea: function (e) {
      this.tareas.push({
        titulo: this.tareas.titulo,
        hecho: false
      })
      this.tareas.titulo = ''
    }
  }
}
</script>

<style>
.tareaRealizada {
  text-decoration: line-through
}
</style>
