<template>
<div class="hola">
  <h1>holassasasa</h1>
  <v-carousel>
    <v-carousel-item v-for="(item,i) in items" :src="item.src" :key="i"></v-carousel-item>
  </v-carousel>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          {
            src: '/static/img/2.jpg'
          },
          {
            src: '/static/img/1.jpg'
          },
          {
            src: '/static/img/3.jpg'
          },
          {
            src: '/static/img/2.jpg'
          }
        ]
      }
    }
  }
</script>

<style>
.hola {
  background-color: blue;

}
</style>
